body {
    font-family: monospace;
    font-size: 20px;
}

nav {
    /* outline: 1px solid rebeccapurple; */
    background: blueviolet;
}

ul {
    /* outline: 1px solid yellowgreen; */
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    /*outline: 1px solid steelblue; */
    width: 250px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.menu {
	position:fixed;
	z-index:1000;
	top:0;
	/*max-width:1000px;*/
	left:0;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

img {
    max-width: 1325px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    /* outline: 1px solid violet; */
    display: block;
    color: #fff;
}

a:hover {
    background-color: purple;
    color: papayawhip;
}

/* spacing */

table {
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border: 3px solid purple;
    padding: 15px;
    margin: 20px auto;
  }
  
  thead th:nth-child(1) {
    width: 20%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 20%;
  }
  
  th, td {
    padding: 20px;
  }

  div.branding {
    width: 75%;
    margin: 20px auto;
    background-color: purple;
    color: papayawhip;
    padding: 15px;
  }
  
  div.branding img.izquierda {
    float: left;
    margin-right: 15px;
    width: 250px;
  }
  
  div.reset {
    clear: both;
  }